<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="books-tab">
      <ion-icon name="book" color="secondary"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account-tab">
      <ion-icon name="person" color="secondary"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="market-tab">
      <ion-icon name="cart" color="secondary"></ion-icon>
      <ion-label>Market</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings-tab">
      <ion-icon name="build" color="secondary"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
